body{
    background-color: grey;
}
.content{
    position: relative;}

header{
}

h1{
    background-color: cadetblue;
    padding-top:30px;
}
.name-box{
    display: inline-block;
    position: relative;
    left: 50px; 
    top:0px;
    /* color: cadetblue; */
}

nav{
    display: inline;
    position: fixed;
    right: 50px;
    top: 0px;
    background: cadetblue;
}
.navbar{
    display: inline;
    background: lightgrey;
}

#portfolio{
    border-left:10px;
    border-color: wheat;
}