.page{
    position: relative;
}


.navbar{
    background-color: white;
    height: 100px;
    position: absolute;
    top:-10px;
    left: -10px;
    right:-6.5px;
    margin:0px;
    display: block;
    overflow:hidden;
}

.namebox{
    background-color: lightgrey;
    padding: 10px;
    position:fixed;
    height:80px;
    left: 15%;
}

.navbox{
    background-color: lightgrey;
    padding: 10px;
    position:fixed;
    height:80px;
    right: 15%;
}
body{
    background-color: grey;
    position: relative;
}